<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>series</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>NunitoSans_10pt-Black.ttf</string>
		<string>NunitoSans_10pt-BlackItalic.ttf</string>
		<string>NunitoSans_10pt-Bold.ttf</string>
		<string>NunitoSans_10pt-BoldItalic.ttf</string>
		<string>NunitoSans_10pt-ExtraBold.ttf</string>
		<string>NunitoSans_10pt-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_10pt-ExtraLight.ttf</string>
		<string>NunitoSans_10pt-ExtraLightItalic.ttf</string>
		<string>NunitoSans_10pt-Italic.ttf</string>
		<string>NunitoSans_10pt-Light.ttf</string>
		<string>NunitoSans_10pt-LightItalic.ttf</string>
		<string>NunitoSans_10pt-Medium.ttf</string>
		<string>NunitoSans_10pt-MediumItalic.ttf</string>
		<string>NunitoSans_10pt-Regular.ttf</string>
		<string>NunitoSans_10pt-SemiBold.ttf</string>
		<string>NunitoSans_10pt-SemiBoldItalic.ttf</string>
		<string>NunitoSans_7pt-Black.ttf</string>
		<string>NunitoSans_7pt-BlackItalic.ttf</string>
		<string>NunitoSans_7pt-Bold.ttf</string>
		<string>NunitoSans_7pt-BoldItalic.ttf</string>
		<string>NunitoSans_7pt-ExtraBold.ttf</string>
		<string>NunitoSans_7pt-ExtraBoldItalic.ttf</string>
		<string>NunitoSans_7pt-ExtraLight.ttf</string>
		<string>NunitoSans_7pt-ExtraLightItalic.ttf</string>
		<string>NunitoSans_7pt-Italic.ttf</string>
		<string>NunitoSans_7pt-Light.ttf</string>
		<string>NunitoSans_7pt-LightItalic.ttf</string>
		<string>NunitoSans_7pt-Medium.ttf</string>
		<string>NunitoSans_7pt-MediumItalic.ttf</string>
		<string>NunitoSans_7pt-Regular.ttf</string>
		<string>NunitoSans_7pt-SemiBold.ttf</string>
		<string>NunitoSans_7pt-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
